.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7; /* Light background color */
}

/* Form container with reduced width */
.form-container {
  width: 300px; /* Reduced width */
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

/* Title styling */
.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px; /* Reduced space for balance */
  font-size: 24px; /* Slightly smaller */
  font-weight: 800;
}

/* Adjusted input and button styling */
.input {
  width: 100%;
  padding: 10px 12px; /* Reduced padding */
  margin: 8px 0; /* Spacing between inputs */
  border-radius: 15px; /* Rounded corners */
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
}

.page-link {
  text-align: end;
  color: #747474;
  font-size: 12px;
  margin-top: 8px; /* Balanced spacing */
}

.form-btn {
  width: 100%;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 15px;
  background-color: teal;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 12px; /* Spacing between button and input */
}

.sign-up-label {
  text-align: center;
  font-size: 10px;
  color: #747474;
  margin-top: 15px; /* Adjusted for better spacing */
}

.sign-up-link {
  color: teal;
  text-decoration: underline;
  font-weight: 800;
  cursor: pointer;
}