.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* Left side with black background */
.left-side {
  flex: 1;
  background-color: #111; /* Dark black background */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem; /* Add padding to create space around the form */
}

/* Form container styling */
.form-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Form title */
.title {
  text-align: center;
  color: #000;
  font-weight: 600;
  margin-bottom: 1.5rem; /* Reduced margin to bring elements closer */
}

/* Input fields */
.input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  border: 1px solid #333; /* Dark border for subtle definition */
  background-color: #f9f9f9;
  color: #000;
}

.input::placeholder {
  color: #666; /* Lighter placeholder text */
}

/* Button styling */
.form-btn {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  background-color: #333; /* Dark grey for contrast */
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-btn:hover {
  background-color: #000; /* Darker hover effect */
}

/* Forgot Password text - aligned to the right */
.forgot-password {
  align-self: flex-start; /* Align the link to the right */
  margin-top: -0.5rem; /* Reduce space to make it closer to the password input */
  margin-bottom: 1rem;
}

.page-link-label, .sign-up-label, .sign-up-link {
  color: #333; /* Dark grey text */
  text-decoration: none;
  text-align: right;
}

.page-link-label:hover, .sign-up-link:hover {
  text-decoration: underline;
}

/* Right side with background image */
.right-side {
  flex: 1;
  background-image: url('/src/images/login.jpg');
  background-size: cover;
  background-position: center;
}